* {
    margin: 0px;
    padding: 0px;
}


#container {
/*    background-image: url("../img/lion.jpg");
    background-size: contain;
    background-repeat: no-repeat;*/
    width: 1000px;
    margin: 0px auto;
    height: 1000px;
    opacity: .7;
}

ul {
    margin: 0 auto;
    width: 900px;
    height: 560px;
}

h1 {
    width: 1000px;
    text-align: center;

}

ul li  {
    display:inline-block;
    list-style-type: none;
    width: 247px;
    margin: 25px 25px;
    height: 205px;

}

#show {
    padding: 15px 20px;
    width: 277px;
    display:block;
    margin: 0 auto;
}