* {
    margin: 0px;
    padding: 0px;
}


#container {
/*    background-image: url("../img/lion.jpg");
    background-size: contain;
    background-repeat: no-repeat;*/
    width: 1000px;
    margin: 0px auto;
    height: 1000px;
    opacity: .7;
}


h1 {
    width: 1000px;
    text-align: center;

}

#show {
    padding: 15px 20px;
    width: 277px;
    display:block;
    margin: 0 auto;
}

.one_hander {
    width: 200px;
    height: 200px;
}

.two_hander {
    width: 200px;
    height: 200px;
}

.weapon_container {
    width: 608px;
    margin: 0 auto;
}

#player_1_hp {
    height: 50px;
    width: 250px;
    margin: 0px auto;
    text-align: center;
}
#player_1_hp h2, #player_2_hp h2 {
    display: inline;
}

#player_1_hp p, #player_2_hp p {
    display: inline-block;
    line-height: 28px;
    font-size: 20pt;
}

#player_2_hp {
    height: 50px;
    width: 250px;
    margin: 0px auto;
    text-align: center;
}

.zoomimg {
    width: 200px;
    height: 200px;
}